
<div class="row">
  <h2 class="ui header">
    Collection
  </h2>

  <div class="ui dropdown">
    <div class="text">Select</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Edit</div>
      <div class="item">Remove</div>
      <div class="item">Hide</div>
    </div>
  </div>
</div>



<div class="row">
  <div class="column">
    <form action="" class="ui small fluid form">
      <div class="inline fields">
      
        <div class="inline field">
          <label>Filters:</label>
          <input type="text" placeholder="Card Name">
        </div>
      
        <div class="field">
          <select>
            <option>M15</option>
            <option>M14</option>
            <option>M13</option>
            <option>M12</option>
          </select>
        </div>

        <div class="field">
          <select>
            <option>Mythic</option>
            <option>Rare</option>
            <option>Uncommon</option>
            <option>Common</option>
          </select>
        </div>
      
      </div>
    </form>
  </div>
</div>

<div class="row">
  <table class="ui column small padded table segment">
    <thead>
      <tr>
        <th class="one wide">N°</th>
        <th class="one wide">Image</th>
        <th class="three wide">Name</th>
        <th class="one wide">Set</th>
        <th class="one wide">Rarity</th>
        <th class="one wide">Sellable</th>
        <th class="two wide">Price Low</th>
        <th class="two wide">Price Avg</th>
        <th class="two wide">Price Max</th>
        <th class="two wide">Price Sell</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td>...</td>
        <td>
          <a ui-sref="card({id: 1})">
            Arcangelo di Thune
            <br />
            Archangel of Thune
          </a>
        </td>
        <td>M14</td>
        <td>Mythic</td>
        <td>0</td>
        <td>12,99 €</td>
        <td>14,35 €</td>
        <td>60,00 €</td>
        <td>NaN €</td>
      </tr>
      <tr>
        <td>4</td>
        <td>...</td>
        <td>
          <a ui-sref="card({id: 2})">
            Leone Vellocriniera
            <br />
            Fleecemane Lion
          </a>
        </td>
        <td>THS</td>
        <td>Rare</td>
        <td>0</td>
        <td>0,94 €</td>
        <td>1,45 €</td>
        <td>29,99 €</td>
        <td>NaN €</td>
      </tr>
    </tbody>
  </table>
</div>
