
<div class="row">
  <div class="col-md-9">
    <p>
      View cards in {{CollectionsShowCtrl.collection.name}}
    </p>
  </div>

  <div class="col-md-3">
    <div class="btn-toolbar pull-right" role="toolbar">
      <!-- <div class="btn-group"> -->
        <a class="btn btn-primary" 
            ui-sref="collections.addCard({id: CollectionsShowCtrl.collection.id})"
            tooltip="Add card to collection" tooltip-placement="bottom">
          <i class="glyphicon glyphicon-plus-sign"></i>
        </a>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="row">
  <table class="col-md-12 table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Set</th>
        <th>Rarity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in CollectionsShowCtrl.cards">
        <td>
          {{card.id}}
        </td>
        <td>
          <a href ui-sref="cards.show({id: card.id})">{{card.name}}</a>
        </td>
        <td>
          {{card.quantity}}
        </td>
        <td>
          <span class="glyphicon glyphicon-eye-open"></span>
          <!-- <img src="http://mtgimage.com/card/{{card.image_name}}.jpg"> -->
        </td>
        <td>
          {{card.set.code}}
        </td>
        <td>
          {{card.rarity}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
