html {
  font-size: 10px;
}

body {
  background-color: rgb(241, 242, 246);
  
}

.vertical-center {
  margin-top: 3rem;
}

.container .jumbotron {
  padding: 20px 60px;
}

/* on icon to make them BIG! */
.glyphicon.empty-filler { color: #E6E9ED; }
.col-md-2 .glyphicon.empty-filler { font-size: 17em; }
.col-md-3 .glyphicon.empty-filler { font-size: 19em; }
.col-md-4 .glyphicon.empty-filler { font-size: 27em; }

/* form feedbacks */
form .error-container.has-error {
  margin-top: 10px;
}
form .error-container p {
  color: #da4453; /* bootflat has-error color */
  padding: 0 10px;
}
