<nav class="navbar navbar-default" role="navigation"
  ng-controller="MainNavigationCtrl as navctrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        ng-click="navctrl.collapsed = !navctrl.collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MTG Tracker</a>
    </div>
    <!-- set 'in' class if collapsed is not true -->
    <div class="collapse navbar-collapse" ng-class="!navctrl.collapsed && 'in'">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a href ui-sref="collections">Collections</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!MainNavigationCtrl.is_authenticated()">
          <a href ui-sref="signup">Signup</a>
        </li>
        <li ng-if="!MainNavigationCtrl.is_authenticated()">
          <a href ui-sref="login">Login</a>
        </li>
        <!--  -->
        <li ng-if="MainNavigationCtrl.is_authenticated()">
          <a href ui-sref="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
