<div class="row">
  <div class="col-md-9">
    <p>
      View cards in {{CollectionsShowCtrl.collection.name}}
    </p>
  </div>

  <div class="col-md-3">
    <div class="btn-toolbar pull-right" role="toolbar">
      <div class="btn-group">
        <a class="btn btn-primary" 
            ui-sref="collections.addCard({id: CollectionsShowCtrl.collection.id})"
            tooltip="Add card to collection" tooltip-placement="bottom">
            <i glyphicon="plus-sign"></i>
        </a>
        <a class="btn btn-secondary"
        ui-sref="collections.bulkAddCard({id: CollectionsShowCtrl.collection.id})"
          tooltip="Import cards into collection" tooltip-placement="bottom">
          <i glyphicon="circle-arrow-up"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <table class="col-md-12 table table-hover">
    <thead>
      <tr>
        <!-- <th>Id</th> -->
        <th>Image</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Set</th>
        <th>Rarity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in CollectionsShowCtrl.cards" id="card-{{card.id}}">
        <td style="text-align: center; font-size: 18px">
          <card-icon image="{{card.image_name}}"></card-icon>
        </td>
        <td>
          <a href ui-sref="cards.show({id: card.id})">{{card.name}}</a>
        </td>
        <td>
          {{card.quantity}}
        </td>
        <td>
          <set-symbol width="small" code="{{card.set.code}}" name="{{card.set.name}}"></set-symbol>
        </td>
        <td>
          <rarity-symbol width="small" code="{{card.set.code}}" rarity="{{card.rarity}}"></rarity-symbol>
        </td>
        <td>
          <i glyphicon="plus-sign"
              tooltip="Add 1 of this card" ng-click="CollectionsShowCtrl.addCard(card)"></i>
          <i glyphicon="minus-sign"
              tooltip="Remove 1 of this card" ng-click="CollectionsShowCtrl.removeCard(card)"></i>
          <!-- |
          <i class="gold" glyphicon="plus-sign"
              tooltip="Add 1 of this card Foil" ng-click="CollectionsShowCtrl.addCard(card)"></i>
          <i class="gold" glyphicon="minus-sign"
              tooltip="Remove 1 of this card Foil" ng-click="CollectionsShowCtrl.removeCard(card)"></i>
          -->
        </td>
      </tr>
    </tbody>
  </table>

</div>
