<div class="three column row">
  <div class="column">
    <img src="http://placehold.it/250x350" alt="Card image">
  </div>

  <div class="column">
    <dl>
      <dt>
        Quantity
      </dt>
      <dd>
        3
      </dd>

      <dt>Name</dt>
      <dd>
        Arcangelo di Thune
        <br />
        Archangel of Thune
      </dd>

      <dt>Set</dt>
      <dd>
        M14
      </dd>

      <dt>Rarity</dt>
      <dd>
        Mythic
      </dd>
    </dl>

    <ul>
      <li>
        <a href="http://magiccards.info/m14/en/5.html">Magiccards.info</a>
        <a href="https://www.magiccardmarket.eu/Products/Singles/Magic+2014/Archangel+of+Thune">Magiccards.info</a>
      </li>
    </ul>
  </div>

  <div class="column">
    <dl>
      <dt>Sellable</dt>
      <dd>0</dd>

      <dt>Price Low</dt>
      <dd>12,99 €</dd>

      <dt>Price Avg</dt>
      <dd>14,35 €</dd>

      <dt>Price Max</dt>
      <dd>60,00 €</dd>

      <dt>Price Sell</dt>
      <dd>NaN €</dd>
    </dl>
  </div>
</div>
